<ul>
    @if(authService.authStatus() === 'authenticated'){
       <button (click)="authService.logout()">Cerrar Sesión</button>
       <p>Bienvenido,{{authService.user()?.fullName}} </p>
    }
    @else if (authService.authStatus() === 'no-authenticated' || authService.authStatus() === 'checking') {

        <li><a routerLink="auth/login">Login</a></li>
        <li><a routerLink="auth/register">Registro</a></li>
    }

    <li><a routerLink="/">Inicio</a></li>
    <li><a routerLink="/protected">Protegidos</a></li>
    <li><a routerLink="/appointments">Citas</a></li>
</ul>
